<a href="https://colab.research.google.com/github/Juan88Almeida/DS_Python/blob/main/DS_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto - New York Airbnb

Após a primeira semana de recepção, você se junta ao time de Cientistas de
Dados da empresa com foco em expansão da empresa, na cidade de Nova
York, Estados Unidos.
Esse projeto de expansão é muito importante para o Airbnb, mas também é
muito arriscado. Qualquer decisão errada por parte do CEO pode levar a
empresa a ter um prejuízo enorme.
Para diminuir o risco desse projeto, o seu chefe pediu para você auxiliar o
CEO da empresa, utilizando dados para responder algumas perguntas, que o
ajudarão a tomar melhores decisões comerciais e de marketing.
As primeiras perguntas que você recebeu são as seguintes:

1. Qual o valor médio do aluguel na cidade de Nova York?
2. Quais os nomes das regiões que existem na cidade de Nova York?
3. Qual o valor do aluguel diário mais caro da cidade de Nova York?

## Pré-problema

### Baixando bibliotecas necessárias

In [11]:
!pip install pandas
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [12]:
import pandas as pd
import numpy as np

### Importando base de dados

In [ ]:
data_ny = pd.read_csv("/content/AB_NYC_2019.csv")
data_ny

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

## Entendendo a base de dados

In [ ]:
data_ny.info()

In [ ]:
data_ny.describe()

## Resolvendo o problema

In [ ]:
display(data_ny.head())

In [ ]:
#Qual o valor médio do aluguel na cidade de Nova York?
mean_price = data_ny["price"].mean()
print(f"O valor médio do aluguel é de U$ {round(mean_price, 2)}")
print()

#Quais os nomes das regiões que existem na cidade de Nova York?
disticts_regions = data_ny["neighbourhood_group"].unique()
print(f"R: {disticts_regions}")
print()

#Qual o valor do aluguel diário mais caro da cidade de Nova York?
max_price = data_ny["price"].max()
print(f"R: O valor do aluguel diária mais cara é de U$ {max_price}")

## Enviando o produto final

In [ ]:
print(f"Olá CEO, espero que esse e-mail o encontre bem.")
print(f"Meu nome é Juan Almeida, sou Cientista de Dados do time de expansão.")
print(f"Segue abaixo as respostas das perguntas de negócio solicitadas, referente a expansão de Nova York.")
print()
print(f"Qual o valor médio do aluguel na cidade de Nova York?")
print(f"O valor médio do aluguel é de U$ {round(mean_price, 2)}")
print()
print(f"Quais os nomes das regiões que existem na cidade de Nova York?")
print(f"R: {disticts_regions}")
print()
print(f"Qual o valor do aluguel diário mais caro da cidade de Nova York?")
print(f"R: O valor do aluguel diária mais cara é de U$ {max_price}")

# Exercícios - Ciclo I

1. Some o valor 10 com 30 e exiba na tela

2. Some os seguintes números: 10, 300, 0.4, 10

3. Desenvolva comandos em Python capaz de calcular a média harmônica entre 5 números. Por exemplo: 2, 3, 5, 6 e 9

4. Um Cientista de Dados Jr precisa criar sequência de comandos que seja capaz de calcular a média ponderada dos valores digitados pelo usuário. O usuário é capaz de digitar 8 valores. O primeiro número tem peso 0.5 , o segundo 1.0, o terceiro 1.5 até o último valor que tem peso 4, ou seja, os pesos são acrescidos de 0.5 para cada valor. Portanto, o algoritmo deve ser capaz de calcular a média ponderada dos oito valores digitados pelo usuário, cada valor com o seu respectivo peso.

    valor_01 = input( "Digite o primeiro valor" )
    valor_02 = input( "Digite o segundo valor" )
    valor_03 = input( "Digite o terceiro valor" )
    valor_04 = input( "Digite o quarto valor" )

5. Um programador Jr precisa construir uma mini calculadora. Essa calculadora segue os seguintes padrões:
* Se o usuário digital um valor menor ou igual a 5, a calculadora vai multiplicar esse valor por 10 e retornar o valor resultantes para o usuário
* Se o usuário digitar um número entre 6 e 10, a calculadora multiplica por 20 o número digitado pelo usuário
* Se o usuário digitar um valor maior ou igual a 11, a calculadora soma 100 ao número digitado. Ajude o programador Jr a construir essa calculadora, fornecendo os comandos em Python para ele.

6. Um programador Jr precisa criar um algoritmo que consiga fazer a comparação entre três valores e exibir qual é o maior e qual é o menor valor digitado. Ajude o programador desenvolvendo o código em Python.

In [ ]:
'''
Some o valor 10 com 30 e exiba na tela
'''
valor1 = int(input("Digite o primeiro valor a ser somado: "))
valor2 = int(input("Digite o segundo valor a ser somado: "))

print(f"A soma dos valores digitados é igual a {valor1 + valor2}")

Digite o primeiro valor a ser somado: 10
Digite o segundo valor a ser somado: 30
A soma dos valores digitados é igual a 40

In [ ]:
'''
Some os seguintes números: 10, 300, 0.4, 10
'''
# PRIMEIRA SOLUÇÃO
qtde_num = int(input("Quantos números deseja somar? "))

i = 1
soma = 0
while i <= qtde_num:
  num = float(input(f"Digite o {i}° número a ser somado: "))
  i += 1
  soma += num

print(f"A soma dos valores digitados é igual a {soma}")

Quantos números deseja somar? 4
Digite o 1° número a ser somado: 10
Digite o 2° número a ser somado: 300
Digite o 3° número a ser somado: 0.4
Digite o 4° número a ser somado: 10
A soma dos valores digitados é igual a 320.4

In [15]:
# SOLUÇÃO OTIMIZADA COM 5 LINHAS
lista_numeros = []
qtde_num = int(input("Quantos números deseja somar? "))

for i in range(4):
  lista_numeros.append(float(input(f"Digite o {i+1}° número a ser somado: ")))

print(f"A soma dos valores digitados é igual a {np.sum(lista_numeros)}")

Quantos números deseja somar? 4
Digite o 1° número a ser somado: 10
Digite o 2° número a ser somado: 300
Digite o 3° número a ser somado: 0.4
Digite o 4° número a ser somado: 10
A soma dos valores digitados é igual a 320.4

In [19]:
'''
Desenvolva comandos em Python capaz de calcular a média harmônica entre 5 números. Por exemplo: 2, 3, 5, 6 e 9
'''
qtde_num = int(input("Quantos números deseja somar? "))
nums = []

soma = 0
for i in range(qtde_num):
  num = (float(input(f"Digite o {i + 1}° número a ser somado: ")))
  nums.append(int(num))
  soma += (1/num)

print(f"A Média Harmônica dos valores {nums} é igual a {round(qtde_num/soma, 2)}")

Quantos números deseja somar? 5
Digite o 1° número a ser somado: 2
Digite o 2° número a ser somado: 3
Digite o 3° número a ser somado: 5
Digite o 4° número a ser somado: 6
Digite o 5° número a ser somado: 9
A Média Harmônica dos valores [2, 3, 5, 6, 9] é igual a 3.81

In [20]:
'''
Um Cientista de Dados Jr precisa criar sequência de comandos que seja capaz de calcular a média ponderada dos valores digitados pelo usuário.
O usuário é capaz de digitar 8 valores. O primeiro número tem peso 0.5 , o segundo 1.0, o terceiro 1.5 até o último valor que tem peso 4, ou seja, os pesos são acrescidos de 0.5 para cada valor.
Portanto, o algoritmo deve ser capaz de calcular a média ponderada dos oito valores digitados pelo usuário, cada valor com o seu respectivo peso.
'''
valores = []
limite = 8
peso = 0.5

soma_ponderada = 0
soma_pesos = 0
for i in range(limite):
  valor = int(input(f"Digite o {i + 1}° valor: "))
  valores.append(valor)
  soma_ponderada += (valor*peso)
  soma_pesos += peso
  peso += 0.5

print(f"A Média Ponderada dos valores {valores} é igual a {round(soma_ponderada/soma_pesos, 2)}")

Digite o 1° valor: 10
Digite o 2° valor: 20
Digite o 3° valor: 8
Digite o 4° valor: 5
Digite o 5° valor: 4
Digite o 6° valor: 6
Digite o 7° valor: 7
Digite o 8° valor: 2
A Média Ponderada dos valores [10, 20, 8, 5, 4, 6, 7, 2] é igual a 5.97

In [22]:
'''
Um programador Jr precisa construir uma mini calculadora. Essa calculadora segue os seguintes padrões:
  Se o usuário digitar um valor menor ou igual a 5, a calculadora vai multiplicar esse valor por 10 e retornar o valor resultantes para o usuário
  Se o usuário digitar um número entre 6 e 10, a calculadora multiplica por 20 o número digitado pelo usuário
  Se o usuário digitar um valor maior ou igual a 11, a calculadora soma 100 ao número digitado. Ajude o programador Jr a construir essa calculadora, fornecendo os comandos em Python para ele.
'''
valor = int(input(f"Digite o valor desejado: "))

if valor <= 5:
  print(f"O valor retornado pelo sistema foi {valor*10}")
elif valor >= 6 and valor <= 10:
  print(f"O valor retornado pelo sistema foi {valor*20}")
else:
  print(f"O valor retornado pelo sistema foi {valor*100}")

Digite o valor desejado: 6
O valor retornado pelo sistema foi 120

In [25]:
'''
Um programador Jr precisa criar um algoritmo que consiga fazer a comparação entre três valores e exibir qual é o maior e qual é o menor valor digitado.
Ajude o programador desenvolvendo o código em Python.
'''
lista_valores = []

for i in range(3):
  valor = (int(input(f"Digite o {i + 1}° valor: ")))
  lista_valores.append(valor)

maior, menor = valor, valor
for elemento in lista_valores:
  if elemento > maior:
    maior = elemento
  elif elemento < menor:
    menor = elemento

print(f"O Maior e Menor valor encontrados foram, respectivamente, {maior} e {menor}")

Digite o 1° valor: 20
Digite o 2° valor: 5
Digite o 3° valor: 10
O Maior e Menor valor encontrados foram, respectivamente, 20 e 5